[flake8]
ignore= \
    E999,
    E117, # over-indented
    E122, # continuation line missing indentation or outdented
    E123, # closing bracket does not match indentation of opening brackets line
    E126, # over indentation
    E127, # over-indented
    E128, # under indentity
    E131, # continuation line unaligned for hanging indent
    E302, # expected 2 blank lines
    E305, # expected 2 blank lines after class
    E226, # whitespace around arith
    E261, # at least 2 spaces before inline comment
    E265, # block comment should start with # 
    E306, # expected 1 blank line before a nested definition, found 0
    E501, # line too long
    E502, # redundant backslash
    E711, # comp to none
    E712, # comparison to True should be if cond is True:
    E722, # do not use bare except
    E731, # do not assign a lambda expression, use a def
    E101, W191, # tab/space indent complaints
    W291, # trailing whitespace
    W293, # blank line contains whitespace
	W503, # line break before binary operator
    F403, # star import complaint
    E999

max-line-length=88
